<!doctype html>
<html>
	<head>
		<title>NomadNooks</title>
		<link rel="stylesheet" href="static/build.css" />
		<script
			src="https://unpkg.com/htmx.org@2.0.3"
			integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<div class="text-center py-10">
			<h1 class="text-4xl font-bold">NomadNooks</h1>
			<h2 class="text-xl">Find outdoor study and work spots</h2>
		</div>
		{% include 'card_list.html' %}
		{% include 'footer.html' %}
		<div id="modal"></div>
	</body>
</html>
